section
  section
    h2 What this talk is about

  section
    h2 About
    ul  
      li.fragment the fundamental building blocks of backbone
      li.fragment how they relate together
      li.fragment how they help you structure your code

  section
    h2 Not about
    ul
      li.fragment How to use Backbone and Drupal
      li.fragment Tutorial on building your first backbone app

  section
    blockquote Let's focus on understanding the fundamentals, so we can hack existing apps, know were everything goes and don't curse backbone.js for all the complexity it adds, 'cause... it is making our lives easier.

  section
    blockquote Committed and pushed to 8.x
    p
      small <a href="http://drupal.org/node/1149866#comment-6602272">webchick</a>