section
  section
    h2 What is backbone.js?

  section
    blockquote Backbone.js gives structure to web applications by providing models with key-value binding and custom events, collections with a rich API of enumerable functions, views with declarative event handling, and connects it all to your existing API over a RESTful JSON interface.
    p
      small <a href="http://backbonejs.org/">backbonejs.org</a>

  section
    ul
      li.fragment structure
      li.fragment models
      li.fragment collections
      li.fragment views
      li.fragment connect to backend over JSON

  section
    h3.fragment.fade-out A client-side MVC framework
    h3.fragment.fade-in A client-side framework

  section
    h3 Others frameworks
    ul
      li angular.js
      li ember.js
      li spine.js
      li knockout.js
      li sammy.js

  section
    h3.fragment.fade-out A client-side framework
    h3.fragment.fade-in A client-side library

  section
    h3 Building upon backbone.js
    ul
      li marionette.js
      li chaplin.js
      li vertebrae.js
      li backbone boilerplate
      li thorax

  section
    h3 dependencies
    ul
      li underscore.js / lo-dash.js
      li json2.js
      li jQuery / Zepto

  section
    h3 Examples