section
  section
    h2 What is backbone.js?

  section
    blockquote Backbone.js gives structure to web applications by providing models with key-value binding and custom events, collections with a rich API of enumerable functions, views with declarative event handling, and connects it all to your existing API over a RESTful JSON interface.
    p
      small <a href="http://backbonejs.org/">backbonejs.org</a>

  section
    ul
      li.fragment structure
      li.fragment models
      li.fragment collections
      li.fragment views
      li.fragment connect to backend over JSON